### Cargamos los datos

In [9]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer
from category_encoders import BinaryEncoder

pelis = pd.read_csv("data/movies.csv").drop(columns=["titulo"])
variable_objetivo = "ventas"

# hay peliculas sin la variable ventas
pelis = pelis[pelis[variable_objetivo].notnull()]

variables_independientes = pelis.drop(variable_objetivo, axis=1).columns


pelis.head()

,presupuesto,genero,lenguaje,popularidad,productores,pais,ventas,duracion,puntuacion,n_votos
0,NaN,Comedy,en,8.387519,Sandollar Productions,United States of America,76578911.0,106.0,5.7,173.0
1,NaN,Drama,en,0.894647,Miramax,South Africa,676525.0,106.0,6.7,13.0
2,3500000.0,Comedy,en,14.569650,New Line Cinema,United States of America,28215918.0,91.0,7.0,513.0
3,NaN,Comedy,en,8.963037,Paramount Pictures,United States of America,32.0,87.0,6.0,124.0
4,12000000.0,Comedy,en,9.592265,Universal Pictures,United States of America,41205099.0,92.0,6.5,767.0

In [4]:
pelis.shape

(1344, 11)

In [5]:
pelis = BinaryEncoder().fit_transform(pelis)
pelis.head()

,genero_0,genero_1,genero_2,genero_3,genero_4,lenguaje_0,lenguaje_1,lenguaje_2,lenguaje_3,lenguaje_4,...,titulo_7,titulo_8,titulo_9,titulo_10,presupuesto,popularidad,ventas,duracion,puntuacion,n_votos
0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,...,0,0,0,0,NaN,8.387519,76578911.0,106.0,5.7,173.0
1,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,...,0,0,0,1,NaN,0.894647,676525.0,106.0,6.7,13.0
2,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,...,0,0,1,0,3500000.0,14.569650,28215918.0,91.0,7.0,513.0
3,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,...,0,0,1,1,NaN,8.963037,32.0,87.0,6.0,124.0
4,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,...,0,1,0,0,12000000.0,9.592265,41205099.0,92.0,6.5,767.0

In [6]:
X = Imputer(strategy="mean").fit_transform(pelis.drop(variable_objetivo, axis=1))
y = pelis[variable_objetivo]

In [7]:
X

array([[0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        1.06000000e+02, 5.70000000e+00, 1.73000000e+02],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        1.06000000e+02, 6.70000000e+00, 1.30000000e+01],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        9.10000000e+01, 7.00000000e+00, 5.13000000e+02],
       ...,
       [3.86697602e-03, 5.95514308e-02, 1.29156999e-01, ...,
        8.60000000e+01, 5.70000000e+00, 3.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, ...,
        9.00000000e+01, 5.70000000e+00, 6.20000000e+01],
       [3.86697602e-03, 5.95514308e-02, 1.29156999e-01, ...,
        0.00000000e+00, 6.00000000e+00, 1.00000000e+00]])

In [8]:
y

0        76578911.0
1          676525.0
2        28215918.0
3              32.0
4        41205099.0
5          209935.0
6       185260553.0
7       355237933.0
8         1275000.0
9         3174695.0
10      113493481.0
11       69660733.0
12         472370.0
13       50892160.0
14        5780000.0
15       47774193.0
16       26488734.0
17        3151130.0
18      247275374.0
19        7830611.0
20        7603766.0
21        2201126.0
22        9771658.0
23       32648673.0
24        1007583.0
25       20079850.0
26        3662459.0
27       63000000.0
28       28881266.0
29       24760338.0
           ...
1314     50504655.0
1315            NaN
1316            NaN
1317            NaN
1318            NaN
1319            NaN
1320            NaN
1321            NaN
1322            NaN
1323            NaN
1324       349899.0
1325            NaN
1326            NaN
1327            NaN
1328            NaN
1329            NaN
1330            NaN
1331            NaN
1332            NaN
1333            NaN
1334            NaN
1335            NaN
1336            NaN
1337            NaN
1338            NaN
1339            NaN
1340            NaN
1341            NaN
1342            NaN
1343            NaN
Name: ventas, Length: 1344, dtype: float64

### Crear un modelo Arbol de Decision de profundidad máxima 5, entrenar y obtener imagen del arbol usando webgraphviz

###  Cuales son las las variables más importantes para el modelo?